@paddingtop: 5px;
@paddingleft: 20px;
@paddingright: 20px;
@paddingbot: 5px;
.el-dialog__body {
  padding: 10px @paddingleft @paddingright;
}

.el-dialog__header {
  padding: @paddingtop 10px @paddingbot;
  background-color: #d1e3f6;
  text-align: left;

}

//
.el-dialog__title {
  font-size: 15px;
  color: #909399;

}

.el-dialog__headerbtn {
  text-align: right;
  margin: 0;
  padding: 0;

}

.el-loading-mask.is-fullscreen {
  z-index: 8888 !important;
}

//.el-header{
//  z-index: 9000 !important;
//}
//.el-aside{
//  z-index: 9000 !important;
//}
.el-tabs__nav.is-top {
  color: red;
}

.query {
  display: flex;
  justify-content: space-between;
  flex-flow: nowrap;
  margin-bottom: 0.5em;
}

.menuBox {
  background-color: #f8f8f8;
}

.QueryConditions {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 0.5em;
}

.QueryConditions .el-input {
  width: 168px;
  margin-right: 0.5em;
}

.QueryInput {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

}

.QueryConditions div {
  display: flex;
  flex-wrap: nowrap;
}

.QueryConditions .el-date-editor {
  margin-right: 0.5em;
}

.QueryConditions .el-select {
  width: 120px;
  margin-right: 0.5em;
}

.PageLayout {
  display: flex;
  flex-direction: row-reverse;
  margin: 0.5em;
}
.addUserFormList{
  display: flex;
  justify-content: space-between;
}
.goods, .factory, .materials, .ProcessManagement, .supplier, .production, .purchase, .Stock, .storage, .FactoryDispatch, .ProductionLog, .deliveryProducts,.storageProducts ,.operator{
  padding: 0em 0.5em 0em 0.5em;
}

/*
生产计划单条件查询
*/
.produ .el-select {
  width: 260px;
}

.produ .el-input {
  width: 260px;
}